manifest {
  name = 'LD overlap'
  author = 'Anastasiia Alekseienko'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.07.1'
  version = '0.5'
}

// nextflow.config
//process.container = 'alksnk-ld_overlap_image'
process.container = 'quay.io/urmovosa/ld_overlap_image:v0.1'

params {
    // Default parameter values
    inputDir = '/path/to/input/'
    outDir = '/path/to/output/'
    ref = '/path/to/reference/ref'
    clump_field = 'P'
    clump_p1 = '5e-08'
    clump_p2 = '1'
    clump_r2 = '0.2'
    clump_kb = '250'
    clump_snp_field = 'SNP'
    extract = '/path/to/extract.txt'

    cpus = 2
    memory = '4 GB'
    time = '2h'
}

process {
    
    withLabel: 'R' {
        cpus = 2
        memory = '8 GB'
        time = '4h'
        // Additional directives can be added here as needed
    }

    // Define other labels or global process directives here
}


process {
    // Defines the default strategy for all processes when an error occurs
    errorStrategy = 'retry'

    // Sets the maximum number of times a process will be retried before failing
    maxRetries = 3

    // Optionally, adjust resources upon retries (e.g., increase memory)
    // This example multiplies the memory by 1.5 with each retry
    memory = { 4.GB * Math.pow(1.5, task.attempt - 1) }
}

profiles {

  slurm { includeConfig 'conf/slurm.config'}

  local_vm { includeConfig 'conf/local_vm.config' }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = "$baseDir/singularity_img/"
  }
  docker {
    docker.enabled = true
    docker.temp = 'auto'
  }
  conda { process.conda = "$baseDir/environment.yml" }
}
