manifest {
  name = 'LD overlap'
  author = 'Anastasiia Alekseienko'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.07.1'
  version = '0.5'
}

// nextflow.config
process.container = 'quay.io/urmovosa/ld_overlap_image:v0.2'

params {
    // Default parameter values
    inputDir = '/path/to/input/'
    outputDir = 'results'
    ref = '/path/to/reference/ref'
    clump_field = 'P'
    clump_p1 = 5e-08
    clump_p2 = 1
    clump_r2 = 0.2
    clump_kb = 250
    clump_snp_field = 'SNP'
    extract = '/path/to/extract.txt'
}

includeConfig 'conf/base.config'

profiles {

  slurm { includeConfig 'conf/slurm.config'}

  local_vm { includeConfig 'conf/local_vm.config' }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = "$baseDir/singularity_img/"
  }
  docker {
    docker.enabled = true
    docker.temp = 'auto'
  }
  conda { process.conda = "$baseDir/environment.yml" }
}
